
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/MedLink/FileContentIndex/3e5b66d8-fc37-4456-bd37-f2d0ae39c138.vsidx
.vs/MedLink/FileContentIndex/46344216-889c-43d8-a295-4a9be2f22bf2.vsidx
.vs/MedLink/FileContentIndex/3e5b66d8-fc37-4456-bd37-f2d0ae39c138.vsidx
.vs/MedLink/FileContentIndex/6e28851c-f8f9-41ef-bf5d-0db4817a8aa2.vsidx
.vs/MedLink/FileContentIndex/99556259-f668-451c-b816-b6f91db76f3a.vsidx
.vs/MedLink/FileContentIndex/3e5b66d8-fc37-4456-bd37-f2d0ae39c138.vsidx
.vs/MedLink/FileContentIndex/d5def472-d85f-41d1-a7e4-282d57895fa5.vsidx
.vs/MedLink/v17/.wsuo
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
image1.png
image2.png
image3.png
image4.png
image5.png
image6.png
image7.png
