/* styles for screens smaller than 600px */
@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

/* styles for screens between 600px and 900px */
@media (min-width: 600px) and (max-width: 900px) {
  body {
    font-size: 18px;
  }
}

/* styles for screens larger than 900px */
@media (min-width: 900px) {
  body {
    font-size: 20px;
  }
}
/*to hide menu 
@media (max-width: 630px) {
  .set_menu{
    display: none !important;
  }
}
*/


.nav-bar{
    font-family: 'Oswald', sans-serif;
    background-color: black;
    width: 100vw;
    text-align: center;
    align-self: center;
}

.header{
    background-image: url("/images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.header i{
    margin:0 5px;
}

nav {
    justify-content: space-between;
    align-items: center;
}

.title-container {
    margin-left: auto;
    /*margin: 0 auto;*/
    align-items: center;
    width: 100vw;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    height: auto;
    display: flex;
    justify-content: center;
    text-decoration: none;
    transform: translate(-50%, -426%);
    align-self: center;
    vertical-align: middle;
    align-content: center;
}

.set-menu {
    list-style: none;
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-left: 0;
    height: 100%;
    /*float: right;*/
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

#f25{
    color:white;
    margin-right:20px;
}

.fa-inbox {
    margin-top: 200px;
}

.login-modal-btn {
    cursor: pointer;
    outline: 0px;
    background-color: #273239;
    color: white;
    font-family: var(--font-primary);
    padding: 8px 27px;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none !important;
    margin-right: 20px;
    border: 0px;
    white-space: nowrap;
}

.p-relative {
    position: relative;
}

h1{
    text-align:center;
    font-family: 'Oswald', sans-serif;
    font-size: 8vh;
    margin-right: 0;
    margin-top: -1px;
    margin-bottom: 0;
    top:0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
   background-image: url("/images/background_new.jpg");
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 98vh;
    display: flex;
    flex-direction: column;
    
    /*
    object-fit: cover;
    
    background-size: contain;
    */

    /*background-color: white;
    text-align: left;
    
    background-size:cover;
    margin:0;*/
}

.submit-anchor{
    background:none;
    font-size: 14px;
    padding:10px;
}

.submit-anchor:hover{
    color: rgb(152, 246, 0);
    cursor: pointer;
}

.form-btn {
    text-decoration: none;
    color: white;
    cursor: pointer;
    outline: 0px;
    background-color: #273239;
    font-family: var(--font-primary);
    padding: 8px 27px;
    border-radius: 5px;
    font-size: 2.5vh;
    margin-right: 20px;
    border: 0px;
    white-space: nowrap;
}

.form-btn:hover {
    color: rgb(152, 246, 0);
    cursor: pointer;
}

.Button{
    border:2px solid black;
    margin-right: -2px;
    margin-left: -2px;
    background:none;
    font-size: 2.5vh;
    /*font-style: oblique;*/
    padding:10px;
    color:white;
}

.Button:hover{
    background-color: black;
    color: rgb(152, 246, 0);
    cursor: pointer;
}

.Button:active{
    background-color: black;
    color: rgb(241, 0, 0);
}

.plus{
    text-align: center;
}

.plus:hover{
    color:blueviolet;
}

/* The modal container */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scrolling */
  background-color: rgba(0,0,0,0.4); /* Black background with opacity */
  transform: translate(-50%, -50%);
}

/* Style the modal content */
.design {
  background-color: black;
  opacity:0.9;
  color:white;
  
  margin:auto;
  width:fit-content;
  height:fit-content;
  align-self:center;
  padding:50px;
  border-radius:20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.post-header {
    text-align:center;
    font-family: 'IBM Plex Sans', sans-serif;
}

.new {
    text-align:center;
    font-size:3.5vh;
    font-family: 'IBM Plex Sans', sans-serif;
}

.input,.post {
    font-size:2.5vh;
    padding:2px;
    border-radius:5px;
}

/* Style the button/link to open the modal 
#myBtn {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}*/

.content{
    padding-top: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-left:10px;
    margin-right:10px;   
}

.pr{
    margin:20px 20px;
    border:1px solid black;
    border-radius: 10px;
}

.fetch{
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 5px 5px;
    background-color: black;
    opacity: 0.5;
    color:white;
}

.title{
    margin-left: 5px;
    font-family: 'Oswald', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

.anchor{
    text-decoration: none;
    color:white;
    margin-right: -2px;
    margin-left: -2px;
    background:none;
    font-size: 2.5vh;
    /*font-style: oblique;*/
    padding:10px;
}
/*
.img{
    background-image: url("/images/profile.png");
}
*/
.anchor:hover{
    background-color: black;
    color: rgb(152, 246, 0);
    cursor: pointer;
}

.anchor:active{
    background-color: black;
    color: rgb(241, 0, 0);
}

.whlink {
    color: white;
    text-decoration: none;
}

.whlink:hover{
    background-color: black;
    color: rgb(152, 246, 0);
    cursor: pointer;
}

.whlink:active{
    background-color: black;
    color: rgb(241, 0, 0);
}

.site-footer{
    border:0;
    background-color: black;
    color:white;
    font-size: 2vh;
}

footer {
    bottom:0;
    margin-top: auto;
    font-size: 3.5vh;
    border-top: 2px solid black;
    text-align: center;
    width: 100vw;
    margin-left: 0;
    background-color: black;
    color:white;
}
