@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Oswald&display=swap');

/* styles for screens smaller than 600px */
@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
}

/* styles for screens between 600px and 900px */
@media (min-width: 600px) and (max-width: 900px) {
  body {
    font-size: 18px;
  }
}

/* styles for screens larger than 900px */
@media (min-width: 900px) {
  body {
    font-size: 20px;
  }
}

/* styles for smaller screens 
@media (max-width: 767px) {
  .set_menu {
    display: none !important;
  }
}*/

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-image: url("/images/healthcare.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    min-height: 98vh;
    display: flex;
    flex-direction: column;
}

/* Set the color of the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: slateblue;
}

/* Set the color of the scrollbar track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Set the width of the scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Remove the default arrows on the scrollbar */
::-webkit-scrollbar-button {
  display: none;
}

.header {
    background-image: url("/images/titleHeader.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 10vh;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.header i {
    margin:0 5px;
}

.title-container {
    margin-left: auto;
    align-items: center;
    width: 100vw;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    height: auto;
    display: flex;
    justify-content: center;
    text-decoration: none;
    transform: translate(-50%, -424%);
    align-self: center;
    vertical-align: middle;
    align-content: center;
}

h1 {
    text-align:center;
    font-family: 'Oswald', sans-serif;
    font-size: 8vh;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    top:0;
}

.set-menu {
    list-style: none;
    margin-left: auto;
    display: flex;
    align-items: center;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

#f25 {
    color:white;
    margin-right:20px;
}

.fa-inbox {
    margin-top: 200px;
}

.login-modal-btn {
    cursor: pointer;
    outline: 0px;
    background-color: #273239;
    color: white;
    font-family: var(--font-primary);
    padding: 8px 27px;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none !important;
    margin-right: 20px;
    border: 0px;
    white-space: nowrap;
}

.p-relative {
    position: relative;
}

.nav-bar {
    font-family: 'Oswald', sans-serif;
    background-color: black;
    width: 100vw;
    text-align: -webkit-center;
    align-self: center;
    white-space: nowrap;
    overflow-x: auto;
    /* hide scrollbar */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}

/* hide scrollbar for WebKit based browsers */
.nav-bar::-webkit-scrollbar {
    display: none;
}

.navElement {
    background: none;
    font-size: 2.5vh;
    padding: 10px;
    color: white;
    display: inline-block;

    /* Special CSS for Hamburger Menu Border */
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.navElement:hover {
    background-color: black;
    color: rgb(152, 246, 0);
    cursor: pointer;
}

.navElement:active {
    background-color: black;
    color: rgb(241, 0, 0);
}

.content {
    padding-top: 10px;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px;
    margin-right: 10px;   
}

.plus {
    text-align: center;
    color: blueviolet;
    display: inline-block;
}

.plus:hover {
    color: slateblue;
    cursor: pointer;
}

/* The modal container */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scrolling */
  background-color: rgba(0,0,0,0.4); /* Black background with opacity */
  transform: translate(-50%, -50%);
}

/* Style the modal content */
.design {
  background-color: black;
  opacity: 0.8;
  color: white;
  
  margin: auto;
  width: fit-content;
  height: fit-content;
  align-self: center;
  padding: 50px;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.post-header {
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.new {
    text-align: center;
    font-size: 3.5vh;
    font-family: 'Poppins', sans-serif;
}

.input, .post {
    font-size: 2.5vh;
    padding: 2px;
    border-radius: 5px;
}

.form-btn {
    text-decoration: none;
    color: white;
    cursor: pointer;
    outline: 0px;
    background-color: #273239;
    font-family: var(--font-primary);
    padding: 8px 27px;
    border-radius: 5px;
    font-size: 2.5vh;
    margin-right: 20px;
    border: 0px;
    white-space: nowrap;
}

.form-btn:hover {
    color: rgb(152, 246, 0);
    cursor: pointer;
}

.submit-anchor {
    background: none;
    font-size: 14px;
    padding: 10px;
}

.submit-anchor:hover {
    color: rgb(152, 246, 0);
    cursor: pointer;
}

.fetch {
    border: 2px solid black;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    padding: 5px 5px;
    background-color: black;
    opacity: 0.8;
    color:white;
}

.original-poster {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}

.pfp-preview {
    display: inline-block;
    vertical-align: middle; /* to align the image vertically with the text */
}

.post_title {
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Oswald', sans-serif;
}

.post_content {
    margin-left: 10px;
    margin-right: 10px;
}

.post_date {
    margin-left: 5px;
    margin-right: 5px;
}

.anchor {
    text-decoration: none;
    color: white;
    background: none;
    font-size: 2.5vh;
    padding: 10px;
}

.anchor:hover {
    background-color: black;
    color: rgb(152, 246, 0);
    cursor: pointer;
}

.anchor:active {
    background-color: black;
    color: rgb(241, 0, 0);
}

a:-webkit-any-link {
    color: white;
    text-decoration: none;
}

.title-link:-webkit-any-link {
    text-decoration: none;
    color: black;
}

.title-link:hover {
    background-image: linear-gradient(to right,rgb(3, 192, 104),rgb(109, 157, 218));
    background-clip: text;
    -webkit-background-clip: text; /* For Safari/Chrome */
    color: transparent;
}

.whlink {
    color: white;
    text-decoration: none;
}

.whlink:hover {
    background-color: black;
    color: rgb(152, 246, 0);
    cursor: pointer;
}

.whlink:active {
    background-color: black;
    color: rgb(241, 0, 0);
}

.scrolling-text-container {
  width: 100%;
  overflow: hidden;
}

.scrolling-text {
  animation: scroll 15s linear infinite;
  white-space: nowrap;
  font-size: 16px;
  font-family: sans-serif;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.site-footer {
    border:0;
    background-color: black;
    color:white;
    font-size: 2vh;
}

footer {
    bottom:0;
    margin-top: auto;
    font-size: 3.5vh;
    border-top: 2px solid black;
    text-align: center;
    width: 100vw;
    margin-left: 0;
    background-color: black;
    color:white;
}